<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Transações</h1>
<p><strong>Saldo Atual: R$ {{ saldo }}</strong></p>

<h2>Gráfico de Gastos</h2>
<img src="data:image/png;base64,{{ grafico }}" alt="Gráfico de Gastos">

<h3>Transações</h3>
<table>
    <tr>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
    </tr>
    {% for transacao in transacoes %}
    <tr>
        <td>{{ transacao.descricao }}</td>
        <td>{{ transacao.tipo }}</td>
        <td>{{ transacao.valor }}</td>
        <td>{{ transacao.data }}</td>
        <td>{{ transacao.categoria }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'cadastro_transacao' %}">Cadastrar nova transação</a>
<a href="{% url 'filtro_transacoes' %}">Filtrar por período</a>
</body>
</html>